@model IEnumerable<TieuHaoSanXuat.Models.Warehouse>

<h2 class="my-4 text-center">Warehouse List</h2>
<table id="cinameTable" class="table table-bordered table-striped text-center">

    <thead>
        <tr>
            
            <th>Tên kho</th>
            <th>Địa chỉ</th>
            <th>Suc chua </th>
            <th>Trang thai</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var warehouse in Model)
        {
            <tr>
                
                <td>@warehouse.Name</td>
                <td>@warehouse.Location</td>
                <td>@warehouse.Capacity</td>
                <td>@warehouse.Status</td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@warehouse.Id" class="btn btn-warning">Sửa</a>
                <a asp-action="Detail" asp-route-id="@warehouse.Id" class="btn btn-danger">Chi tiet</a>
                <a asp-action="Delete" asp-route-id="@warehouse.Id" class="btn btn-danger">Xóa</a>
            </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Thêm nha kho </a>