@model TieuHaoSanXuat.Models.Material

@{
    ViewData["Title"] = "Material ";
}

<h2>Material </h2>

<div>
    <h4>Material Information</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Warehouse.Name)</dt>
        <dd class="col-sm-9">@Model.Warehouse.Name</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Supplier.Name)</dt>
        <dd class="col-sm-9">@Model.Supplier.Name</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-9">@Model.Name</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Unit)</dt>
        <dd class="col-sm-9">@Model.Unit</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.QuantityInStock)</dt>
        <dd class="col-sm-9">@Model.QuantityInStock</dd>
    </dl>
</div>

<div>
    <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>