@model IEnumerable<TieuHaoSanXuat.Models.Supplier>

<h2 class="my-4 text-center">Supplier List</h2>
<table id="cinameTable" class="table table-bordered table-striped text-center">


    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>PhoneNumber</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model)
        {
            <tr>

                <td>@supplier.Name</td>
                <td>@supplier.Location</td>
                <td>@supplier.PhoneNumber</td>
                <td>@supplier.Email</td>


                <td>
                    <a asp-action="Edit" asp-route-id="@supplier.Id" class="btn btn-warning">Sửa</a>
                    <a asp-action="Details" asp-route-id="@supplier.Id" class="btn btn-danger">Chi tiet</a>
                    <a asp-action="Delete" asp-route-id="@supplier.Id" class="btn btn-danger">Xóa</a>
                </td>


            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Thêm nha cung cap</a>
